
.header {
    padding: 50px 100px;
    text-align: center;
    background: #999999;
    font-size: 32px;
    font-family: sans-serif;
}

.content{
    padding: 80px 100px ;
    background: #4cff8d;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}

.footer{
    padding: 80px 100px ;
    background: #2f2f2f;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
}
